<ng-container *ngIf="hasPermission; else noPermission">
  <ng-content></ng-content>
</ng-container>

<ng-template #noPermission>
  <ng-container *ngIf="fallbackTemplate">
    <ng-container *ngTemplateOutlet="fallbackTemplate"></ng-container>
  </ng-container>
  <ng-container *ngIf="!fallbackTemplate && showDefaultFallback">
    <div class="permission-denied">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="12"></line>
        <line x1="12" y1="16" x2="12.01" y2="16"></line>
      </svg>
      <span>You don't have permission to {{ action }} this {{ resource }}</span>
    </div>
  </ng-container>
</ng-template>